{% extends "base.html" %} {% block content %}

<!-- <h1 class="text-3xl font-semibold tracking-right mb-4">{{ title }}</h1> -->
<!-- <h2 class="text-3xl tracking-tight mb-4">Testing flask templating.....</h2> -->

<div class="grid tracking-tight gap-4">
    {% if posts %} {% for post in posts.items %}
    <div
        class="rounded-md px-4 pt-4 pb-10 cursor-pointer post hover:bg-gray-100 transition-color duration-75"
        data-location="/post/{{post.id}}"
    >
        <div class="border-b border-gray-400 py-1">
            <p class="text-xs">
                By
                <a
                    href="user/profile/{{post.author.id}}"
                    class="text-indigo-500 font-medium tracking-tight text-lg"
                    >@{{post.author.name}}</a
                >
                on {{post.date_posted}}
            </p>
        </div>
        <a
            href="/post/{{post.id}}"
            class="hover:text-indigo-500 transition-color duration-75 hover:underline"
        >
            <h2 class="sm:text-4xl my-2 text-3xl leading-tight font-semibold">
                {{post.title[:50]}}
            </h2>
        </a>

        <p class="leading-tight">{{post.content[:100]}}...</p>
    </div>
    {% endfor %} {% else %}
    <h2 class="text-2xl font-semibold tracking-tight">Oh no! No posts yet</h2>
    {% endif %}
</div>
<div class="space-x-1 my-4 flex justify-center">
    {% for i in posts.iter_pages(left_edge=1 , right_edge=1, left_current=1,
    right_current=1) %} {% if i %} {% if posts.page == i %}
    <a href="/?page={{i}}" class="p-1 bg-indigo-300">{{i}}</a>
    {% else %}
    <a href="/?page={{i}}" class="p-1 bg-gray-200">{{i}}</a>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>
{% endblock %}
