{% extends "base.html" %} {% block content %}
<figure class="bg-gray-100 rounded-xl p-8 text-center">
    <img
        class="w-32 h-32 rounded-full m-auto"
        src="{{image_file}}"
        alt=""
        width="384"
        height="512"
    />
    <div class="pt-6 te space-y-4">
        <!-- <blockquote>
            <p class="text-lg font-semibold">
                “Tailwind CSS is the only framework that I've seen scale on
                large teams. It’s easy to customize, adapts to any design, and
                the build size is tiny.”
            </p>
        </blockquote> -->
        <figcaption class="font-medium">
            <div class="text-cyan-600">@{{user.name}}</div>
            <div class="text-gray-500">{{user.email}}</div>
        </figcaption>
    </div>
</figure>
<h2 class="sm:text-4xl my-2 text-3xl leading-tight font-semibold">
    Posts by <span class="text-indigo-500">{{user.name}}</span>
</h2>
<div class="grid tracking-tight gap-4">
    {% if posts %} {% for post in posts.items %}
    <div
        class="rounded-md px-4 pt-4 pb-10 bg-gray-200 cursor-pointer post hover:bg-gray-100 transition-color duration-75"
        data-location="/post/{{post.id}}"
    >
        <div class="border-b border-gray-400 py-1">
            <p class="text-xs">
                By
                <a
                    href="user/profile/{{post.author.id}}"
                    class="text-indigo-500 font-medium tracking-tight text-lg"
                    >@{{post.author.name}}</a
                >
                on {{post.date_posted}}
            </p>
        </div>
        <a
            href="/post/{{post.id}}"
            class="hover:text-indigo-500 transition-color duration-75 hover:underline"
        >
            <h2 class="sm:text-4xl my-2 text-3xl leading-tight font-semibold">
                {{post.title[:50]}}
            </h2>
        </a>

        <p class="leading-tight">{{post.content[:100]}}...</p>
    </div>
    {% endfor %} {% else %}
    <h2 class="text-2xl font-semibold tracking-tight">Oh no! No posts yet</h2>
    {% endif %}
</div>
<div class="space-x-1 my-4 flex justify-center">
    {% for i in posts.iter_pages(left_edge=1 , right_edge=1, left_current=1,
    right_current=1) %} {% if i %} {% if posts.page == i %}
    <a href="?page={{i}}" class="p-1 bg-indigo-300">{{i}}</a>
    {% else %}
    <a href="?page={{i}}" class="p-1 bg-gray-200">{{i}}</a>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>

{% endblock %}
